/**
 * Bremertown Chatroom
 * Super simple online chatroom.
 * @author {@link https://github.com/jmg1138 jmg1138}
 * Repo {@link https://github.com/nothingworksright/bremertown_chatroom Bremertown}
 * Forked from {@link https://github.com/lstoll/socket-io-chat-heroku lstoll}
 */

body {
  position: relative;
}

.noscript {
  width: 100vw;
  height: 100vh;
  z-index: 100000;
  position: absolute;
  top: 0px;
}
.noscript #jswarning {
  display: block;
  height: 100vh;
  background: white; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(white, lightgreen); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(white, lightgreen); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(white, lightgreen); /* For Firefox 3.6 to 15 */
  background: linear-gradient(white, lightgreen); /* Standard syntax */
}

#aboveSignIn {
  background: black; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(black, lightgreen); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(black, lightgreen); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(black, lightgreen); /* For Firefox 3.6 to 15 */
  background: linear-gradient(black, lightgreen); /* Standard syntax */
}

#signIn {
  background: lightgreen;
}

#nickname-err,
#containedChat {
  display: none;
}

#history {
  background: white; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(white, lightgreen); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(white, lightgreen); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(white, lightgreen); /* For Firefox 3.6 to 15 */
  background: linear-gradient(white, lightgreen); /* Standard syntax */
  overflow-x: hidden;
  overflow-y: scroll;
}

#compose {
  background: lightgreen;
}

#history p {
  margin: 0;
  padding: 5px 25% 5px 10px;
}
#history p:nth-child(even) {
  background: rgba(100, 255, 100, .2);
}
#history p.myLine {
  padding: 0px;
  
}
#history span.myMessage {
  width: 75%;
  margin: 0px 0px 0px 25%;
  padding: 5px;
  background: rgba(100, 100, 255, .1);
  border-left: 1px solid green;
  display: inline-block;
}
